@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

* {
    scroll-behavior: smooth;
}
@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

