@media (min-width: 1024px) { /* Adjust for Tailwind's sm breakpoint */
    .main-lettering {
        padding-top: 12rem ;
    }
    .scroll-to-cards-button {
        margin-top: 1rem; 
        transform: translateX(-50%);
    }
}


@media (min-width: 1880px) { /* Adjust for Tailwind's lg breakpoint */
    .main-lettering {
        padding-top: 12rem ;
    }
    .scroll-to-cards-button {
        margin-top: 300px;
        
    }
}
